form {
  width: 50%;
  text-align: left;
}

img {
  display:none;
}

#trackSuggestion{
  display:none;
}

h1 {
  text-align: center;
  margin:auto;
  padding-top: 5%;
}

.container {
  margin:auto;
}
